
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/kutuphane_db</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mappingler -->
        <mapping class="entity.Author"/>
        <mapping class="entity.Book"/>
        <mapping class="entity.Publisher"/>
        <mapping class="entity.Category"/>
        <mapping class="entity.BookBorrowing"/>
    </session-factory>
</hibernate-configuration>
